<routes><route team="Tonathiu" cost="11115,51" cities="3"><City id="0" nome="campo base"></City><City id="3" nome="Mixco Vieio"></City><City id="4" nome="Rovine Perdute"></City></route><route team="Metztli" cost="1791,00" cities="3"><City id="0" nome="campo base"></City><City id="1" nome="Tikal"></City><City id="4" nome="Rovine Perdute"></City></route></routes>