<routes><route team="Tonathiu" cost="20,00" cities="4"><City id="0" nome="campo base"></City><City id="6" nome="Tenochtitlan"></City><City id="10" nome="Quirigua"></City><City id="12" nome="Rovine Perdute"></City></route><route team="Metztli" cost="20,00" cities="4"><City id="0" nome="campo base"></City><City id="6" nome="Tenochtitlan"></City><City id="10" nome="Quirigua"></City><City id="12" nome="Rovine Perdute"></City></route></routes>